/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.text-gray {
    color: rgb(128, 128, 128) ;
}

.text-blue {
    color: rgb(32, 169, 229);
}

h1 {
    margin-bottom: 0;
}

p {
    margin: 5px;
}



.container {
    width: 60%;
    margin: auto;
}

.header-background {
    background-color: rgb(78, 160, 255);
    background-image: url(./img/pattern.png);
    background-position: 77% 10%;
    background-size: 40%;
    height: 70px;
}

header img {
    width: 20%;
    margin: 1.5rem 0.5rem .5rem;
}